[Unit]
Description=GOST+ Tunnel
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi
Environment="HOME=/home/pi"
Environment="USER=pi"
ExecStart=/usr/local/bin/gost-tunnel -no-stats
Restart=always
RestartSec=10
SyslogIdentifier=gost-plus

[Install]
WantedBy=multi-user.target
