[Unit]
Description=GOST+ CLI Tunnel
After=network.target

[Service]
Type=simple
User={{USER}}
Group={{USER}}
WorkingDirectory={{HOME}}
Environment="HOME={{HOME}}"
Environment="USER={{USER}}"
ExecStart=/usr/local/bin/gost-tunnel -no-stats
Restart=always
RestartSec=10
SyslogIdentifier=gost-plus

[Install]
WantedBy=multi-user.target
